.floatr {
    float: right;
}

.nav {
    padding: 15px 50px;
    background: #fff;
}

.navform {
    padding-top: 15px;
}

.navlist li {
    padding: 20px;
    margin-top: 10px;
}

.activityimg {
    max-width: 100%;
    margin-top: 161px;
}

.activitybg {
    background: #60bceb;
}

.acttitle {
    font-size: 20px;
    color: #fff;
    position: relative;
    background: #60bceb;
    width: 100px;
    top: 20px;
    left: 46%;
    text-align: center;
    z-index: 20
}

.actimg {
    padding-top: 20px;
    border-top: solid #fff;
}

.actimg img {
    margin-right: 15px;
    width: 376px;
    height: 180px;
}

.actimg a {
    padding-left: 10px;
    color: #fff;
}

.acta {
    float: right;
    padding-right: 40px;
    color: #fff;
}

.container1 {
    width: 1170px;
    margin: 0 auto;
}

.chanpin {
    margin-top: 20px;
    background: #fff;
}

.chanpinimg {
    width: 1140px;
    margin: 0 15px;
}

.cptitle {
    position: relative;
    font-size: 20px;
    color: #000;
    width: 100px;
    z-index: 99;
    left: 46%;
    background: #fff;
    text-align: center;
}

.solid {
    border-top: solid 1px #c0c0c0;
    width: 100%;
    position: relative;
    top: 35px;
    height: 20px;
}
 
    #container1 {
        width: 1142px;
        height: 481px;
        overflow: hidden;
        position: relative;
        margin:0 14px;

        
    }
    
    #list {
        width: 7994px;
        height: 481px;
        position: absolute;
        z-index: 1;
    }
    
    #list img {
        float: left;
    }
    
    #buttons {
        position: absolute;
        height: 10px;
        width: 100px;
        z-index: 2;
        bottom: 20px;
        left: 558px;
    }
    
    #buttons span {
        cursor: pointer;
        float: left;
        border: 1px solid #fff;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #fff;
        margin-right: 5px;
    }
    
    #buttons .on {
        background: #60bceb;
    }
    
    .arrow {
        cursor: pointer;
        display: none;
        line-height: 39px;
        text-align: center;
        font-size: 36px;
        font-weight: bold;
        width: 40px;
        height: 40px;
        position: absolute;
        z-index: 2;
        top: 180px;
        background-color: RGBA(0, 0, 0, .3);
        color: #fff;
    }
    
    .arrow:hover {
        background-color: RGBA(0, 0, 0, .7);
    }
    
    #container:hover .arrow {
        display: block;
    }
    
    #prev {
        left: 20px;
    }
    
    #next {
        right: 20px;
    }
